#header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#navbar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(217,253,255);
    padding-top: .5em;
    padding-bottom: .5em;
    

    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: .5em;
       
}

    h4 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}
            h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
        
    }
.container {
    width: 100%;
    min-height: 60vh;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.product {
    width: 90%;
    max-width: 750px;
    display: flex;

}

.gallery {
    flex-basis: 60%;
    background: #ffff;
    transform: scale(1.08);
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);

}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 70px;
    padding-bottom: 0px;
}

.details {
        font-family: 'Montserrat', sans-serif;
    flex-basis: 53%;
    background: #ffff;
    padding-left: 60px;
    align-items: baseline;
    font-size: 13px;
    
}

.details h2 {
    color: black;
    font-size: 35px;
}

.details h3 {
    color: black;
    font-size: 20px;
    font-weight: 600px;
    
}

.details form{
    font-size: 15px;
    font-weight: 400;
    
}

.size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
    
    
}

.size-select p{
    width: 70px;
}

.size-select input:checked + span{
    font-weight: 600;
}

.size-select input{
    display: none;
}

.size-select span{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

form button{
    background: #ffff;
    color: #fffff;
    font-size: 17px;
    width: 75%;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    outline: 0;
    margin-top: 50px;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer
    
        
}
.containertwo {
    width: 100%;
    min-height: 60vh;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.producttwo {
    width: 90%;
    max-width: 750px;
    display: flex;

}

.gallerytwo {
    flex-basis: 60%;
    background: #ffff;
    transform: scale(1.08);
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);

}

.gallerytwo img{
    width: 100%;
    display: block;
    padding-top: 70px;
    padding-bottom: 0px;
}

.detailstwo {
        font-family: 'Montserrat', sans-serif;
    flex-basis: 53%;
    background: #ffff;
    padding-left: 60px;
    align-items: baseline;
    font-size: 13px;
    
}

.detailstwo h2 {
    color: black;
    font-size: 35px;
}

.detailstwo h3 {
    color: black;
    font-size: 20px;
    font-weight: 600px;
    
}

.detailstwo form{
    font-size: 15px;
    font-weight: 400;
    
}

.size-selecttwo{
    display: flex;
    align-items: center;
    margin-top: 50px;
    
    
}

.size-selecttwo p{
    width: 70px;
}

.size-selecttwo input:checked + span{
    font-weight: 600;
}

.size-selecttwo input{
    display: none;
}

.size-selecttwo span{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

form button{
    background: #ffff;
    color: #fffff;
    font-size: 17px;
    width: 75%;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    outline: 0;
    margin-top: 50px;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cart i{
    position: absolute;
    margin-left: 20px;
    column-fill: transparent;
    transition: 400ms;
    color: transparent;
    
}

.cart span{
    transition: 400ms;
}
.cart:hover span{
    margin-right: 10px;
}
.cart:hover i{
    margin-left: 10px;
    column-fill: white;
    color: black;
    
}
button: focus{
    outline: none;
}

.check-out{
    flex: auto;
    align-items: center;
    justify-content: center;
    background: #ffff;
    color: #fffff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    outline: 0;
    margin-top: 0px;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer
    
}

.check-out button{
    position: relative;
    top: 0;
    left: 0;
    background: #ffff;
    color: #fffff;
    font-size: 17px;
    width: 15%;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    outline: 0;
    margin-top: 50px;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.check-out i{
    position: relative;
    top: 0;
    right: 100px;
    
}

.boxtext {
    padding-top: 1em;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

.textblock {
    position: absolute;
    top: 30%;
    right: 20px;
    padding: 10px;
    background-color: rgb(250, 249, 236);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20em;
    align-content: center;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);

}

.shopnow{
    text-decoration: none;
    position: relative;
    top: 0;
    left: 75%;
    background: #ffff;
    font-size: 17px;
    width: 25%;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    outline: 0;
    margin-top: 10px;
    box-shadow: -5px 5px 20px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

img {max-width: 100%}

.fourbox {
    text-align: center;
    margin: auto;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    
    
}

.first {
    font-size: 50px;
    width: 400px;
    margin: 100px 50px;
    text-align: center;
    display: inline-block
}
    
    .second {
    font-size: 50px;
    width: 400px;
    margin: 100px 50px;
    text-align: center;
    display: inline-block
}

    .third {
    font-size: 50px;
    width: 400px;
    margin: 100px 50px;
    text-align: center;
    display: inline-block
}

.fa-solid fa-seedling {
    font-size: 80px;
}